@font-face {
  font-family: "Tenada";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Tenada";
  box-sizing: border-box;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5% 0 10% 0;
}
#mainheadsec {
  padding-top: 0;
  padding-bottom: 0;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.mainhead-head {
  position: absolute;
  left: 20px;
  color: white;
}
.mainhead-head:hover {
  color: #ffffb5;
  cursor: pointer;
}
.box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 0 5% 0 5%;
}
.box-nan {
  display: flex;
  height: 300px;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 1000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    2px 2px 10px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.box-nan a {
  padding: 15px 15px 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    2px 2px 10px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.cl1 {
  background-color: #262a33;
}
.cl2 {
  background-color: #a9c4d1;
}
.cl3 {
  background-color: #6ea7ba;
}
.cl4 {
  background-color: #6f7075;
}
.cl5 {
  background-color: #326a7d;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}
.headline {
  display: flex;
  position: absolute;
  right: 200px;
  margin: 15px;
  text-align: center;
  color: white;
}
.headline-nav {
  font-size: 26px;
  cursor: pointer;
  margin: 20px;
}
.headline-nav:hover {
  color: #ffffb5;
}
.mainhead {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 1000px;
  position: relative;
  background-image: url(image/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainhead-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 64px;
  font-weight: 1000;
  position: absolute;
  top: 30%;
  color: white;
}

.mainhead-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
  font-size: 54px;
  color: white;
  padding: 20px 20px 0 20px;
  border: 1px solid white;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  cursor: pointer;
}
.mainhead-bottom:hover {
  color: #ffffb5;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  margin: 3% 25% 3% 25%;
  padding: 20px;
  font-size: 36px;
}
.intro-name {
  font-size: 24px;
  opacity: 0.8;
}

.intro-img {
  background-color: white;
  width: 60px;
  height: 60px;
}
.intro-img2 {
  background-color: #fff4d4;
  width: 30px;
  height: 30px;
}
.intro-text {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.skill-box {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff4d4;
  border-radius: 10px;
  color: black;
  padding: 3%;
  opacity: 0.9;
  margin: 0 10% 0 10%;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.5) inset,
    7px 7px 20px 0px rgba(0, 0, 0, 1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.skills-box {
  background-color: #fac71e;
}
.skillnan-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.skill-nan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  opacity: 0.9;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    2px 2px 10px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.nan1 {
  background-color: #fac71e;
}
.nan2 {
  background-color: #ffffb5;
}
.nan3 {
  background-color: bisque;
}
.nan4 {
  background-color: rgb(223, 59, 59);
}
.nan5 {
  background-color: rgb(212, 120, 53);
}
.skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4d4;
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 2%;
}
#middle {
  color: white;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  background-color: ffccb6;
  width: 10%;
  text-align: center;
  background-color: #326a7d;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    2px 2px 10px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
#middle:hover {
  color: black;
}
.middle-pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 5px;
  margin: 0 15% 0 15%;
  padding: 2%;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.1) inset,
    7px 7px 20px 0px rgba(0, 0, 0, 1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.pro-title {
  text-align: center;
  width: 20%;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 10px;
  font-size: 24px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    2px 2px 10px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.pro-summary {
  text-align: center;
  width: 50%;
  border-radius: 5px;
  background-color: #b4d0da;
  padding: 15px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    2px 2px 10px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.footer {
  display: flex;
  color: white;
  height: 200px;
  background-color: black;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}
.footer-content {
  margin: 0 10px 10px 0;
}
.middlepro {
  background-color: #2f3136;
}
.lastpro {
  background-color: #262a33;
}
.footerpro {
  padding: 0;
}
#last-pro {
  color: white;
}
#middle-pro {
  color: white;
}
.middletitle {
  background-color: rgb(223, 59, 59);
}
.lasttitle {
  background-color: rgb(91, 161, 91);
}
.impor {
  font-size: 18px;
}
.TopLoop {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid black;
  transform: translateX(-50%);
  position: fixed;
  font-size: 20px;
  left: 50%;
  bottom: 50px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  cursor: pointer;
  backdrop-filter: blur(15px);
}
.TopLoop:hover {
  background-color: black;
}
.Top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.TopLoop:active {
  animation: pulse 0.3s;
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 black;
  }
  to {
    box-shadow: 0 0 0px 15px transparent;
  }
}
