* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
}
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url(1084d982de3eb117bf831a58beca3033.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

#header {
  display: flex;
  justify-content: center;
  color: brown;
  height: 100px;
}
#nav {
  height: 100px;
}
#main {
  height: 400px;
}
#bottom {
  height: 100px;
}
#footer {
  height: 100px;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #3e3e3e;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px #3e3e3e 1px 1px 1px 1px #4e4e4e;
}
#nav > a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transform: translateY(1px);
}
